.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 70vh;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  z-index: 1;
  opacity: .7;
}

.wave-track {
  display: flex;
  width: max-content;
  animation: wave-scroll 30s linear infinite;
}

.wave-track img {
  height: 100%; /* ajusta según tu diseño */
  width: auto;
  flex-shrink: 0;
}

/* Animación */
@keyframes wave-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}