@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  position: relative;
}
