@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-Barrow: "Barlow Condensed", sans-serif;
  --bk-menu: url("../assets/bk_menu.png")
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  @apply bg-white dark:bg-gray-950;
  scroll-behavior: smooth;
  scrollbar-color: rgba(146, 52, 233, 1) #3C074A;
  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  position: relative;
}
